/* ........ These styles are for Basket cart section ..........  */

div.basket-card-section{

    background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
    right: 31%;
    top: -1655px;
    height: 500px;
    width: 50%;
    z-index: 999 !important;
    display: none;
    overflow: scroll;
}
div.basket-horizontalMenu-htmlIndex{

    background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
    right: 31%;
    top: -630px;
    height: 500px;
    width: 50%;
    z-index: 1000 !important;
    display: none;
    overflow: scroll;
}
div.basket-category-product{

    background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
    right: 32%;
    top: -33px;
    height: 500px;
    width: 50%;
    z-index: 1000 !important;
    display: none;
    overflow: scroll;
}

div.basket-asideMenu{

    top: -510px;
    right: 35%;
}

div.basket-card-section div.basket-wrapper,
div.basket-horizontalMenu-htmlIndex div.basket-wrapper,
div.basket-category-product div.basket-wrapper{

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid #9c9a9a;
}
div.basket-card-section div.basket-wrapper div.basket-information-wrapper span.material-icons,
div.basket-horizontalMenu-htmlIndex div.basket-wrapper div.basket-information-wrapper span.material-icons,
div.basket-category-product div.basket-wrapper div.basket-information-wrapper span.material-icons{

    position: relative;
    font-size: 30px;
    top: 20px;
    right: -87%;
    color: #ea0707;
}
div.basket-card-section div.basket-wrapper span.material-icons:hover{

    cursor: pointer;
}
div.basket-horizontalMenu-htmlIndex div.basket-wrapper span.material-icons:hover{

    cursor: pointer;
}
div.basket-category-product div.basket-wrapper span.material-icons :hover{

    cursor: pointer;
}
div.basket-card-section div.basket-wrapper div.basket-information-wrapper,
div.basket-horizontalMenu-htmlIndex div.basket-wrapper div.basket-information-wrapper,
div.basket-category-product div.basket-wrapper div.basket-information-wrapper{
    display: flex;
    flex-direction: column;
}
div.basket-card-section div.basket-wrapper div.basket-information-wrapper div.basket-information-one,
div.basket-card-section div.basket-wrapper div.basket-information-wrapper div.basket-information-two,
div.basket-horizontalMenu-htmlIndex div.basket-wrapper div.basket-information-wrapper div.basket-information-one,
div.basket-horizontalMenu-htmlIndex div.basket-wrapper div.basket-information-wrapper div.basket-information-two,
div.basket-category-product div.basket-wrapper div.basket-information-wrapper div.basket-information-one,
div.basket-category-product div.basket-wrapper div.basket-information-wrapper div.basket-information-two{

    display: flex;
    flex-direction: row;
    padding-top: 45px;
    padding-right: 85px;
    margin-right: -12%;
}
div.basket-card-section div.basket-wrapper div.basket-information-wrapper div.basket-information-one div.basket-info-one span.name-product,
div.basket-card-section div.basket-wrapper div.basket-information-wrapper div.basket-information-one div.basket-info-two span.code-product,
div.basket-horizontalMenu-htmlIndex div.basket-wrapper div.basket-information-wrapper div.basket-information-one div.basket-info-one span.name-product,
div.basket-horizontalMenu-htmlIndex div.basket-wrapper div.basket-information-wrapper div.basket-information-one div.basket-info-two span.code-product,
div.basket-category-product div.basket-wrapper div.basket-information-wrapper div.basket-information-one div.basket-info-one span.name-product,
div.basket-category-product div.basket-wrapper div.basket-information-wrapper div.basket-information-one div.basket-info-two span.code-product{

    padding-right: 10px;
}

div.basket-card-section div.basket-wrapper div.basket-information-wrapper div.basket-information-two,
div.basket-horizontalMenu-htmlIndex div.basket-wrapper div.basket-information-wrapper div.basket-information-two,
div.basket-category-product div.basket-wrapper div.basket-information-wrapper div.basket-information-two{
    padding-bottom: 20px;
    margin-top: 5px;
}
div.basket-card-section div.basket-wrapper div.basket-information-wrapper div.basket-information-one div.basket-info-two,
div.basket-card-section div.basket-wrapper div.basket-information-wrapper div.basket-information-two div.basket-info-four,
div.basket-horizontalMenu-htmlIndex div.basket-wrapper div.basket-information-wrapper div.basket-information-one div.basket-info-two,
div.basket-horizontalMenu-htmlIndex div.basket-wrapper div.basket-information-wrapper div.basket-information-two div.basket-info-four,
div.basket-category-product div.basket-wrapper div.basket-information-wrapper div.basket-information-one div.basket-info-two,
div.basket-category-product div.basket-wrapper div.basket-information-wrapper div.basket-information-two div.basket-info-four{

    padding-right: 40px;
}
div.basket-card-section div.basket-wrapper div.basket-information-wrapper div.basket-information-two div.basket-info-three input.cart-quantity-input,
div.basket-horizontalMenu-htmlIndex div.basket-wrapper div.basket-information-wrapper div.basket-information-two div.basket-info-three input.cart-quantity-input,
div.basket-category-product div.basket-wrapper div.basket-information-wrapper div.basket-information-two div.basket-info-three input.cart-quantity-input{

  height: 34px;
  width: 132px;
  border-radius: 5px;
  border: 1px solid #56CCF2;
  outline: 1px solid #56CCF2;
  background-color: #eee;
  color: #333;
  padding: 0;
  text-align: center;
  font-size: 1.2em;
  margin-right: 25px;
}
 
div.basket-card-section div.basket-wrapper div.basket-img-wrapper img.basket-img,
div.basket-horizontalMenu-htmlIndex div.basket-wrapper div.basket-img-wrapper img.basket-img,
div.basket-category-product div.basket-wrapper div.basket-img-wrapper img.basket-img{
    width: 145px;
    height: 145px;
    padding-top: 45px;
    padding-left: 35px;
}
div.basket-card-section div.total-price,
div.basket-horizontalMenu-htmlIndex div.total-price,
div.basket-category-product div.total-price{

    margin-top: 30px;
    margin-bottom: 50px;
    padding-right: 60px;
}
div.basket-card-section div.total-price span.titel-price,
div.basket-horizontalMenu-htmlIndex div.total-price span.titel-price,
div.basket-category-product div.total-price span.titel-price{

    font-family: Sahel-Bold;
    font-size: 17px;
}
div.basket-card-section div.total-price span.sum-price,
div.basket-horizontalMenu-htmlIndex div.total-price span.sum-price,
div.basket-category-product div.total-price span.sum-price{

    font-family: Sahel-Bold;
    padding-right: 20px;
    font-size: 17px;
}
div.basket-card-section div.total-price a.pay,
div.basket-horizontalMenu-htmlIndex div.total-price a.pay,
div.basket-category-product div.total-price a.pay{

    margin-right: 50px;
    border: 1px solid darkblue;
    padding: 8px 25px;
    font-family: Sahel-Bold;
    background-image: linear-gradient(to right, #77A1D3 0%, #79CBCA  51%, #77A1D3  100%);
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
}
div.basket-card-section div.total-price a.pay:hover{
    
    background-image: linear-gradient(to right, #ff6e7f 0%, #bfe9ff  51%, #ff6e7f  100%);
    background-position: right center; 
    text-decoration: none;
}
div.basket-horizontalMenu-htmlIndex div.total-price a.pay:hover{

    background-image: linear-gradient(to right, #ff6e7f 0%, #bfe9ff  51%, #ff6e7f  100%);
    background-position: right center; 
    text-decoration: none;
}
div.basket-category-product div.total-price a.pay:hover{

    background-image: linear-gradient(to right, #ff6e7f 0%, #bfe9ff  51%, #ff6e7f  100%);
    background-position: right center; 
    text-decoration: none;
}
/*........................... This class shows Basket card ..............................*/

.showBasketCard{

    display: block !important;
}

/* ..... These codes are for responsive of Basket cart ..... */

@media only screen and (min-width: 360px) and (max-width: 460px){

    div.basket-card-section{

        width: 90%;
        right: 5%;
        top: -3000px;
        z-index: 1000;
    }
    span.title-product,span.name-product{
    
        font-size: 12px;
    }
    span.title-code-product{

        font-size: 12px;
    }
    span.title-product{

        margin-right: -27px;
    }
    span.title-code-product{

        padding-right: 10px;
    }
    input.cart-quantity-input{

        width: 70px !important;
        margin-right: -15px !important;
    }
    div.basket-img-wrapper{

        display: none;
    }
    span.titel-price{
        margin-right: -25px !important;
        font-size: 14px !important;

    }
    span.sum-price{

        font-size: 14px !important;
    }
    a.pay{

        padding: 8px 10px !important;
    }
    div.basket-horizontalMenu-htmlIndex{

        top: -1140px;
    } 
    div.basket-category-product{

        top: -520px;
        width: 90%;
        right: 5%;
    }
}

@media only screen and (min-width: 460px) and (max-width: 576px){

    div.basket-card-section{

        width: 90%;
        right: 5%;
        top: -2700px;
        z-index: 1000;
    }
    span.title-product,span.name-product{
    
        font-size: 12px;
    }
    span.title-code-product{

        font-size: 12px;
    }
    span.title-product{

        margin-right: -27px;
    }
    span.title-code-product{

        padding-right: 10px;
    }
    input.cart-quantity-input{

        width: 70px !important;
        margin-right: -15px !important;
    }
    div.basket-img-wrapper{

        display: none;
    }
    span.titel-price{
        margin-right: -25px !important;
        font-size: 14px !important;

    }
    span.sum-price{

        font-size: 14px !important;
    }
    a.pay{

        padding: 8px 10px !important;
    }
    div.basket-horizontalMenu-htmlIndex{

        top: -1110px;
    } 
    div.basket-category-product{

        top: -520px;
        width: 90%;
        right: 5%;
    }
}

@media only screen and (min-width: 576px) and (max-width: 768px){

    div.basket-card-section{

        width: 95%;
        right: 3%;
        top: -2840px;
        z-index: 1000;
    }
    div.basket-horizontalMenu-htmlIndex{

        top: -1110px;
    } 
    div.basket-category-product{

        top: -520px;
    }

}
@media only screen and (min-width: 768px) and (max-width: 992px){

    div.basket-card-section{

        width: 95%;
        right: 3%;
        top: -2050px;
        z-index: 1000; 
    }
    div.basket-horizontalMenu-htmlIndex{

        top: -1110px;
        
    }
    div.basket-category-product{

        top: -520px;
    }
}
@media only screen and (min-width: 992px) and (max-width: 1100px){

    div.basket-card-section{

        width: 70%;
        right: 12%;
        top: -1560px;
    }
    div.basket-asideMenu{

        top: -460px !important;
    }
    div.basket-horizontalMenu-htmlIndex{

        top: -630px;
        
    }
    div.basket-category-product{

        top: -33px;
    }
}
@media only screen and (min-width: 1100px) and (max-width: 1200px){

    div.basket-card-section{

        width: 70%;
        right: 12%;
    }
    div.basket-asideMenu{

        top: -460px !important;
    }
    div.basket-horizontalMenu-htmlIndex{

        top: -630px;
        
    }
    div.basket-category-product{

        top: -33px;
    }
}
@media only screen and (min-width: 1200px){

    div.basket-asideMenu{

        top: -510px !important;
    }
    div.basket-category-product{

        top: -33px;
    }
}
