/* ........ These styles are for Basket card section ..........  */

div.basket-card-section{

    background-color: rgb(243, 156, 18); 
    position: relative;
    right: 31%;
    top: -1655px;
    height: 500px;
    width: 50%;
    z-index: 999 !important;
    display: none;
    overflow: scroll;
}
div.basket-card-section div.basket-wrapper{

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid #c9c4c4;
}
div.basket-card-section div.basket-wrapper div.basket-information-wrapper span.material-icons{

    position: relative;
    font-size: 30px;
    top: 20px;
    right: -87%;
    color: #ea0707;
}
div.basket-card-section div.basket-wrapper span.material-icons:hover{

    cursor: pointer;
}
div.basket-card-section div.basket-wrapper div.basket-information-wrapper{
    display: flex;
    flex-direction: column;
}
div.basket-card-section div.basket-wrapper div.basket-information-wrapper div.basket-information-one,
div.basket-card-section div.basket-wrapper div.basket-information-wrapper div.basket-information-two{

    display: flex;
    flex-direction: row;
    padding-top: 45px;
    padding-right: 85px;
    margin-right: -12%;
}
div.basket-card-section div.basket-wrapper div.basket-information-wrapper div.basket-information-one div.basket-info-one span.name-product,
div.basket-card-section div.basket-wrapper div.basket-information-wrapper div.basket-information-one div.basket-info-two span.code-product{

    padding-right: 10px;
}

div.basket-card-section div.basket-wrapper div.basket-information-wrapper div.basket-information-two{
    padding-bottom: 20px;
    margin-top: 5px;
}
div.basket-card-section div.basket-wrapper div.basket-information-wrapper div.basket-information-one div.basket-info-two,
div.basket-card-section div.basket-wrapper div.basket-information-wrapper div.basket-information-two div.basket-info-four{

    padding-right: 40px;
}
div.basket-card-section div.basket-wrapper div.basket-information-wrapper div.basket-information-two div.basket-info-three input.cart-quantity-input{

  height: 34px;
  width: 132px;
  border-radius: 5px;
  border: 1px solid #56CCF2;
  outline: 1px solid #56CCF2;
  background-color: #eee;
  color: #333;
  padding: 0;
  text-align: center;
  font-size: 1.2em;
  margin-right: 25px;
}
 
div.basket-card-section div.basket-wrapper div.basket-img-wrapper img.basket-img{
    width: 145px;
    height: 145px;
    padding-top: 45px;
    padding-left: 35px;
}
div.basket-card-section div.total-price{

    margin-top: 30px;
    margin-bottom: 50px;
    padding-right: 60px;
}
div.basket-card-section div.total-price span.titel-price{

    font-family: Sahel-Bold;
    font-size: 17px;
}
div.basket-card-section div.total-price span.sum-price{

    font-family: Sahel-Bold;
    padding-right: 20px;
    font-size: 17px;
}
div.basket-card-section div.total-price a.pay{

    margin-right: 50px;
    border: 1px solid darkblue;
    padding: 8px 25px;
    font-family: Sahel-Bold;
    background-image: linear-gradient(to right, #77A1D3 0%, #79CBCA  51%, #77A1D3  100%);
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
}
div.basket-card-section div.total-price a.pay:hover{
    
    background-image: linear-gradient(to right, #ff6e7f 0%, #bfe9ff  51%, #ff6e7f  100%);
    background-position: right center; 
    text-decoration: none;
}

/* ..... These codes are for responsive of Basket card ..... */

@media only screen and (min-width: 576px) and (max-width: 768px){

    div.basket-card-section{

        width: 95%;
        right: 3%;
        top: -2840px;
        z-index: 1000;
    }

}
@media only screen and (min-width: 768px) and (max-width: 992px){

    div.basket-card-section{

        width: 95%;
        right: 3%;
        top: -2050px;
        z-index: 1000; 
    }
}
@media only screen and (min-width: 992px) and (max-width: 1100px){

    div.basket-card-section{

        width: 70%;
        right: 12%;
        top: -1560px;
    }
}
@media only screen and (min-width: 1100px) and (max-width: 1200px){

    div.basket-card-section{

        width: 70%;
        right: 12%;
        /*top: -1560px; */
    }
}