section.parent-bed-section{

    margin-top: 150px;
}
section.parent-bed-section h4.titel-bed{

    padding-right: 10%;
    padding-bottom: 15px;
    font-size: 18px;
}
section.parent-bed-section h4.titel-bed::after{

    content: '';
    width: 50PX;
    height: 3PX;
    background-color: var(--Third-Color);
    position: absolute;
    top: 18PX;
    right: 6%;
}
section.parent-bed-section h4.titel-bed::before{

    content: '';
    width: 50PX;
    height: 3PX;
    background-color: var(--Third-Color);
    position: absolute;
    top: 18PX;
    right: 31%;
}
div.bed-wrapper{
    
    background-image: linear-gradient(to top, #37ecba 0%, #72afd3 100%);
    box-shadow: 2px 2px 2px 2px #9b9999;
    border-radius: 8px;
    min-height: 350px;
}
div.bed-wrapper div.card{

    margin: 40px 20px;
    border: 2px solid rgb(107, 107, 107);
    border-radius: 50%;
}
div.bed-wrapper div.card:hover{

    cursor: pointer;
}
div.bed-wrapper div.card:hover div.card-body div.card-overlay{

    opacity: 1;
}
div.bed-wrapper div.card div.card-body div.card-overlay{

    background-color: rgba(0, 0, 0, 0.7);
    text-align: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    opacity: 0;
    transition: .5s  ease-in;
}
div.bed-wrapper div.card div.card-body div.card-overlay h2{

    margin-top: 50px;
    text-align: center;
    font-family: Sahel-Bold;
    padding: 15px 34px; 
    color: var(--Secondery-Color);
    font-size: 18px;
}
div.bed-wrapper div.card div.card-body div.card-overlay p{

    color: var(--Secondery-Color);
    padding: 10px 65px;
    font-size: 16px;
    text-align: center;
}
div.bed-wrapper div.card div.card-body div.card-overlay a{
    display: inline-block;
    color: var(--Third-Color);
    padding-top: 15px;
    font-size: 16px;
    border-bottom: 1px solid var(--Third-Color);
}
div.bed-wrapper div.card img{
    border-radius: 50%;
    object-fit: contain;
}

/* .......... These codes are for responsive design .............*/

@media only screen and (min-width: 360px) and (max-width: 500px){

    section.parent-bed-section{

        top: -550px;
    }
    section.parent-bed-section h4.titel-bed{

        padding-bottom: 30px;
    }
    section.parent-bed-section h4.titel-bed::after{

        width: 275px !important;
        top: 37PX !important;
    }
    section.parent-bed-section h4.titel-bed::before{

        display: none !important;
    }
    div.bed-wrapper div.card div.card-body div.card-overlay h2{

        margin-top: 30px;
        padding: 10px 24px; 
        font-size: 17px;
    }
    div.bed-wrapper div.card div.card-body div.card-overlay a{
        
        padding-top: 10px;
        font-size: 16px;
    }
}

@media only screen and (min-width: 500px) and (max-width: 576px){

    section.parent-bed-section{

        top: -400px;
    }
    section.parent-bed-section h4.titel-bed{

        padding-bottom: 30px;
    }
    section.parent-bed-section h4.titel-bed::after{

        width: 290px !important;
        top: 37PX !important;
    }
    section.parent-bed-section h4.titel-bed::before{

        display: none !important;
    }
}

@media only screen and (min-width: 576px) and (max-width: 768px){

    section.parent-bed-section{

        top: -350px;
    }
    section.parent-bed-section h4.titel-bed{

        padding-bottom: 30px;
    }
    section.parent-bed-section h4.titel-bed::after{

        width: 290px !important;
        top: 37PX !important;
    }
    section.parent-bed-section h4.titel-bed::before{

        display: none !important;
    }
}
@media only screen and (min-width: 768px) and (max-width: 992px){

    section.parent-bed-section{

        top: -240px;
    }
    section.parent-bed-section h4.titel-bed{

        padding-bottom: 30px;
        padding-right: 8%;
    }
    section.parent-bed-section h4.titel-bed::after{

        width: 290px !important;
        top: 37PX !important;
    }
    section.parent-bed-section h4.titel-bed::before{

        display: none !important;
    }
    div.bed-wrapper div.card div.card-body div.card-overlay p{

        padding: 5px 65px;
        font-size: 14px;

    }
}

@media only screen and (min-width: 992px) and (max-width: 1200px){

    section.parent-bed-section h4.titel-bed::after{

        right: 5%;
    }
    section.parent-bed-section h4.titel-bed::before{
    
        right: 36%;
    }
    div.bed-wrapper div.card div.card-body div.card-overlay h2{

        margin-top: 30px;
        padding: 10px 24px; 
        font-size: 16px;
    }
    div.bed-wrapper div.card div.card-body div.card-overlay p{

        padding: 5px 35px;
        font-size: 14px;
    }
}