nav#horizontal-Menu-products{

    position: sticky;
    top: 0; 
    z-index: 999;
}
div.category-product-inner-wrapper{

    box-shadow: 1px 1px 1px 1px #9c9b9b;
    background-color: var(--Secondery-Color);
}
div.category-product-inner-wrapper div.category-product-body{

    margin-top: 10px;
}
div.category-product-inner-wrapper div.category-product-body div.category-product-name{

    margin-bottom: 10px;
}
div.category-product-inner-wrapper div.category-product-body div.category-product-name h3{

    font-size: 16px;
    display: inline-block;
    color: rgb(22, 22, 165);
}
div.category-product-inner-wrapper div.category-product-body div.category-product-name :nth-child(1){

    padding-right: 5%;
}
div.category-product-inner-wrapper div.category-product-body div.category-product-price{

    margin-bottom: 10px;
}
div.category-product-inner-wrapper div.category-product-body div.category-product-price span{

    font-size: 16px;
    display: inline-block;
    color: rgb(22, 22, 165);
}
div.category-product-inner-wrapper div.category-product-body div.category-product-price :nth-child(1){

    padding-right: 5%;
}
div.category-product-inner-wrapper div.category-product-body div.category-product-more-detail{

    padding-bottom: 25px;
    text-align: center;
}
div.category-product-inner-wrapper div.category-product-body div.category-product-more-detail a{

    color: var(--Third-Color);
    font-family: Sahel-Bold;
    border-bottom: 2px solid var(--Third-Color);
}



/* ........ These Codes are for Responsive .......... */

@media only screen and (min-width: 360px) and (max-width: 460px){

    section.container-product{

        margin-bottom: 570px;
    }
    div.footer-container-one-category{

        margin-top: 50px;
    }
    div.footer-container-three-category{

        margin-top: -100px;
    }
}
@media only screen and (min-width: 460px) and (max-width: 576px){

    section.container-product{

        margin-bottom: 570px;
    }
    div.footer-container-one-category{

        margin-top: 50px;
    }
    div.footer-container-three-category{

        margin-top: -100px;
    }
}
@media only screen and (min-width: 576px) and (max-width: 768px){

    section.container-product{

        margin-bottom: 400px;
    }
    div.footer-container-three-category div.footer-wraper-img img{

        margin-right: 30%;
        margin-top: -110px;
    }
}
@media only screen and (min-width: 768px) and (max-width: 992px){

    section.container-product{

        margin-bottom: 400px;
    }
    div.footer-container-three-category div.footer-wraper-img img{

        margin-right: -5%; 
        margin-top: 50px;
    }
}
@media only screen and (min-width: 992px) and (max-width: 1200px){

    section.container-product{

        margin-bottom: 200px;
    }
}
@media only screen and (max-width: 992px){

    nav#horizontal-Menu-products{

        overflow: hidden;
    }
}