/* ................... aside styles ........................ */

aside.aside-menu{

    background-color: var(--Primary-Color);
    height: 580px;
    overflow: hidden;
    border-radius: 15px;
    margin-top: 15px;
}
aside.aside-menu div.icon-wrapper-aside{
    margin-top: 40px;
    /* text-align: center; */
}
aside.aside-menu div.icon-wrapper-aside span#login-aside{

    font-size: 45px;
    color: var(--Secondery-Color);
    margin-right: 30%;
}
aside.aside-menu div.icon-wrapper-aside span#login-aside:hover{

    color: var(--Third-Color);
    cursor: pointer;
}
aside.aside-menu div.icon-wrapper-aside span#shopping-aside{

    font-size: 40px;
    color: var(--Secondery-Color);
    margin-right: 10%; 
}
aside.aside-menu div.icon-wrapper-aside span#shopping-aside:hover{

    color: var(--Third-Color);
    cursor: pointer;
}
aside.aside-menu div#products-aside,aside.aside-menu div#agency-aside,
aside.aside-menu div#social-media-aside,aside.aside-menu div#abut-us-aside{

    margin-top: 25px;
    margin-right: 10%;
    width: 70%;
}
aside.aside-menu div#products-aside:hover{

    cursor: pointer;
}
aside.aside-menu div#agency-aside:hover{

    cursor: pointer;
}
aside.aside-menu div#social-media-aside:hover{

    cursor: pointer;
}
aside.aside-menu div#abut-us-aside:hover{

    cursor: pointer;
}
aside.aside-menu div#products-aside div.title-our-products-aside,
aside.aside-menu div#agency-aside div.title-our-agency-aside,
aside.aside-menu div#social-media-aside div.title-social-media-aside,
aside.aside-menu div#abut-us-aside div.title-abut-us-aside{
    
    display: flex;
    justify-content: space-between;
    background-color: rgb(81, 81, 219);
    box-shadow: 1px 2px 2px rgb(68, 68, 68);
    height: 45px;
}
aside.aside-menu div#products-aside div.title-our-products-aside:hover{

    background-color: rgb(15, 17, 95); 
}
aside.aside-menu div#agency-aside div.title-our-agency-aside:hover{

    background-color: rgb(15, 17, 95);
}
aside.aside-menu div#social-media-aside div.title-social-media-aside:hover{

    background-color: rgb(15, 17, 95);
}
aside.aside-menu div#abut-us-aside div.title-abut-us-aside:hover{

    background-color: rgb(15, 17, 95);
}
aside.aside-menu div#products-aside div.title-our-products-aside span#title-one-aside,
aside.aside-menu div#agency-aside div.title-our-agency-aside span#title-two-aside,
aside.aside-menu div#social-media-aside div.title-social-media-aside span#title-three-aside,
aside.aside-menu div#abut-us-aside div.title-abut-us-aside span#title-four-aside{

    color: var(--Secondery-Color);
    padding-right: 10%;
    margin-top: 7px;
    display: inline-block;
    font-size: 18px;
    font-family: Sahel-Bold;
}
aside.aside-menu div#products-aside div.title-our-products-aside span.arrow-products-aside,
aside.aside-menu div#agency-aside div.title-our-agency-aside span.arrow-agency-aside,
aside.aside-menu div#social-media-aside div.title-social-media-aside span.arrow-social-media-aside,
aside.aside-menu div#abut-us-aside div.title-abut-us-aside span.arrow-abut-us-aside{

    font-size: 18px;
    color: var(--Secondery-Color);
    font-weight: bold;
    display: inline-block;
    padding: 15px 25px;
    transition: transform .3s ease-out .2s;
}

aside.aside-menu div#products-aside div.product-submenu-aside,
aside.aside-menu div#agency-aside div.agency-submenu-aside,
aside.aside-menu div#social-media-aside div.social-media-submenu-aside,
aside.aside-menu div#abut-us-aside div.abut-us-submenu-aside{

    background-color: #fff;
    /* height: 238px; */
    height: 0; 
    transition: .5s ease-out;
}
aside.aside-menu div#products-aside div.product-submenu-aside a.product-aside,
aside.aside-menu div#agency-aside div.agency-submenu-aside a.agency-aside,
aside.aside-menu div#social-media-aside div.social-media-submenu-aside a.media-aside,
aside.aside-menu div#abut-us-aside div.abut-us-submenu-aside a.abutUs-aside{

    display: none;
    color: var(--WriteColor-1);
    padding: 7px 15px;
    font-size: 15px;
}
aside.aside-menu div#social-media-aside div.social-media-submenu-aside a.media-aside{

    font-size: 19px;
}
aside.aside-menu div#products-aside div.product-submenu-aside a.product-aside:hover{

    background-color: var(--Third-Color);
}
aside.aside-menu div#agency-aside div.agency-submenu-aside a.agency-aside:hover{

    background-color: var(--Third-Color);
}
aside.aside-menu div#social-media-aside div.social-media-submenu-aside a.media-aside:hover{

    background-color: var(--Third-Color);
}
aside.aside-menu div#abut-us-aside div.abut-us-submenu-aside a.abutUs-aside:hover{

    background-color: var(--Third-Color);
}

/*.....................this classes add  with JS for show of Accordion Menu......................*/

.showAsideMenu{

    height: 238px !important;
}
.showAsideMenuItems{
 
   display: block !important;
}
.animAsideMenuArrow{
    transform: rotate(-90deg);
}

/* ............. Fix some elements ..............  */

@media only screen and (max-width: 992px){

    div.aside-menu-wrapper{

        display: none;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1100px){

    aside.aside-menu div#products-aside div.title-our-products-aside span#title-one-aside,
    aside.aside-menu div#agency-aside div.title-our-agency-aside span#title-two-aside,
    aside.aside-menu div#social-media-aside div.title-social-media-aside span#title-three-aside,
    aside.aside-menu div#abut-us-aside div.title-abut-us-aside span#title-four-aside{

        font-size: 15px;
    }

    aside.aside-menu div#products-aside div.title-our-products-aside span.arrow-products-aside,
    aside.aside-menu div#agency-aside div.title-our-agency-aside span.arrow-agency-aside,
    aside.aside-menu div#social-media-aside div.title-social-media-aside span.arrow-social-media-aside,
    aside.aside-menu div#abut-us-aside div.title-abut-us-aside span.arrow-abut-us-aside{

        font-size: 16px;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1200px){

    aside.aside-menu div#abut-us-aside div.abut-us-submenu-aside a.abutUs-aside{

        font-size: 13px;
    }
}


/* ................... Logo & Search Box & Slider styles ........................ */

div.header-section{

    margin-top: 15px;
    height: 70px;
}
div.header-section img{

    width: 111px;
    height: 65px;
    left: 8%;
}
div.header-section input{

    width: 70%;
    height: 40px;
    outline: 0px;
    border: 2px solid rgb(155, 153, 153);
    border-radius: 8px;
    left: 23%;
    padding-right: 50px;
    font-size: 14px;
}
div.header-section span{

    right: 9%;
    top: 6px;
    font-size: 30px;
}
div.header-section span:hover{

    cursor: pointer;
}
div.container-slider{

    width: 100%;
    height: 84vh;
    text-align: center;
}
div.container-slider div.slider{

    border: 2px solid #9b9999;
    border-radius: 15px;
    box-shadow: 2px 2px 2px 2px #9b9999;
    height: 90%;
    width: 90%;
    margin-right: 5%;
}
div.container-slider div.slider img.img-slid{

    border-radius: 16px;
 
}
div.container-slider div.slider div.slider-item{

    text-align: center;
}
div.container-slider div.slider a#more-see{

    display: inline-block;
    top: 210px;
    right: 40%;
    border: 2px solid var(--Third-Color);
    background-color: var(--Third-Color);
    color: var(--Secondery-Color);
    font-family: Sahel-Bold;
    padding: 10px;
    transition: 0.5s ease-in-out;
}
div.container-slider div.slider a#more-see:hover{

    background-color: rgb(165, 109, 4);
}
div.container-slider div.slider button.prev,
div.container-slider div.slider button.next{

    width: 35px;
    height: 35px;
    border-radius: 50px;
    background-color: rgb(110, 110, 110);
    border: none;
}
div.container-slider div.slider button.next{
    right: -5%;
    top: 200px;
}
div.container-slider div.slider button.next:hover{

    cursor: pointer;
    background-color: rgb(51, 50, 50);
}
div.container-slider div.slider button.prev{

    right: 100%;
    top: 200px;
}
div.container-slider div.slider button.prev:hover{

    cursor: pointer;
    background-color: rgb(51, 50, 50);
}
div.container-slider div.slider button.prev span.prev-icon,
div.container-slider div.slider button.next span.next-icon{

    padding-top: 5px;
    font-weight: bold;
    font-size: 25px;
    color: var(--Secondery-Color);
}
div.container-slider div.slider button.prev span.prev-icon{

    padding-right: 2px;
}
div.container-slider div.slider button.next span.next-icon{

    padding-left: 2px;
}
div.container-slider button.btn-slider{

    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: none;
    margin-right: 6px;
    margin-top: 15px;
}
div.container-slider button.btn-slider:hover{

    cursor: pointer;
}

/* ......... This class add to Button with JS .......... */
.active{

    background-color: rgb(43, 42, 42);
}

/* ........ Responsive Slider & Logo & Search Box  ...... */

@media only screen and (min-width: 360px) and (max-width: 460px){

    div.header-section img{

        width: 80px;
        height: 45px;
        /* left: 8%; */
    }
    div.header-section input{

        width: 55%;
        height: 30px;
        margin-left: 40px;
        margin-top: 8px;
        font-size: 10px;
        padding-right: 32px;
    }
    div.header-section span{

        right: 12%;
        top: 11px;
        font-size: 24px;
    }
    div.container-slider div.slider{

        height: 32%;
        width: 90%;
    }
    div.container-slider div.slider a#more-see{

        display: inline-block;
        top: 65px;
        right: 20%;
        font-family: Sahel-Bold;
        padding: 0 6px;
    }
    div.container-slider div.slider button.prev{
        top: 60px;
        right: 95%;
        width: 30px;
        height: 30px;
    }
    div.container-slider div.slider button.next{

        top: 60px;
        right: -7%;
        width: 30px;
        height: 30px;
    }
    div.container-slider div.slider button.prev span.prev-icon,
    div.container-slider div.slider button.next span.next-icon{

      font-weight: bold;
      font-size: 20px;
    }
}

@media only screen and (min-width: 460px) and (max-width: 505px){

    div.header-section img{

        width: 80px;
        height: 45px;
    }
    div.header-section input{

        width: 55%;
        height: 30px;
        margin-left: 40px;
        margin-top: 8px;
        font-size: 10px;
        padding-right: 32px;
    }
    div.header-section span{

        right: 15%;
        top: 11px;
        font-size: 24px;
    }
    div.container-slider div.slider{

        height: 47%;
        width: 90%;
    }
    div.container-slider div.slider a#more-see{

        display: inline-block;
        top: 65px;
        right: 33%;
        font-family: Sahel-Bold;
        padding: 0 6px;
    }
    div.container-slider div.slider button.prev{
        top: 90px;
        right: 97%;
        width: 30px;
        height: 30px;
    }
    div.container-slider div.slider button.next{

        top: 90px;
        right: -7%;
        width: 30px;
        height: 30px;
    }
    div.container-slider div.slider button.prev span.prev-icon,
    div.container-slider div.slider button.next span.next-icon{

      font-weight: bold;
      font-size: 20px;
    }
}

@media only screen and (min-width: 505px) and (max-width: 576px){

    div.header-section img{

        width: 80px;
        height: 45px;
        /* left: 8%; */
    }
    div.header-section input{

        width: 55%;
        height: 30px;
        margin-left: 40px;
        margin-top: 8px;
    }
    div.header-section span{

        right: 15%;
        top: 11px;
        font-size: 24px;
    }
    div.container-slider div.slider{

        height: 50%;
        width: 90%;
    }
    div.container-slider div.slider a#more-see{

        display: inline-block;
        top: 65px;
        right: 33%;
        font-family: Sahel-Bold;
        padding: 0 6px;
    }
    div.container-slider div.slider button.prev{
        top: 90px;
        right: 97%;
        width: 30px;
        height: 30px;
    }
    div.container-slider div.slider button.next{

        top: 90px;
        right: -7%;
        width: 30px;
        height: 30px;
    }
    div.container-slider div.slider button.prev span.prev-icon,
    div.container-slider div.slider button.next span.next-icon{

      font-weight: bold;
      font-size: 20px;
    }
}

@media only screen and (min-width: 576px) and (max-width: 610px){

    div.container-slider div.slider{

        height: 290px;
    }
    div.header-section img{
        width: 90px;
    }
    div.container-slider div.slider button.next,
    div.container-slider div.slider button.prev{

        top: 120px;
    }
    div.container-slider div.slider button.prev{

        right: 98%;
    }
    
}

@media only screen and (min-width: 610px) and (max-width: 700px){

    div.container-slider div.slider{

        height: 325px;
    }
    div.header-section img{
        width: 90px;
    }
    div.container-slider div.slider button.next,
    div.container-slider div.slider button.prev{

        top: 120px;
    }
    div.container-slider div.slider button.prev{

        right: 98%;
    }
}

@media only screen and (min-width: 700px) and (max-width: 768px){

    div.container-slider div.slider{

        height: 370px;
    }
    div.header-section img{
        width: 90px;
    }
}

@media only screen and (min-width: 769px) and (max-width: 850px){

    div.container-slider div.slider{

        height: 415px;
    }
}

@media only screen and (min-width: 850px) and (max-width: 950px){

    div.container-slider div.slider{

        height: 470px;
    }
}

@media only screen and (min-width: 951px) and (max-width: 992px){

    div.container-slider div.slider{

        height: 492px;
    }
}

@media only screen and (min-width: 993px) and (max-width: 1100px){

    div.container-slider div.slider{

        height: 360px;
    }
}

@media only screen and (min-width: 1101px) and (max-width: 1200px){

    div.container-slider div.slider{

        height: 397px;
    }
}

@media only screen and (min-width: 1201px) and (max-width: 1300px){

    div.container-slider div.slider{

        height: 424px;
    }
}