div.menu-wrapper{

    background-color: var(--Primary-Color);
    height: 70px;
    transition: 1s ease-in;
}
div.menu-wrapper div.home{

    width: 7%;
    display: inline-block;
    top: 15px;
}
div.menu-wrapper div.home a span.material-icons{

    font-size: 35px;
    color: var(--Secondery-Color);
    padding-right: 15px;
}
div.menu-wrapper div.home a span.material-icons:hover{

    color: var(--Third-Color);
}

div.menu-wrapper div#our-products, div.menu-wrapper div#our-agency,
div.menu-wrapper div#social-media, div.menu-wrapper div#abut-us{

    width: 20%;
    display: inline-block;
}
div.menu-wrapper div#our-products{

    /* top: 5px; */
    top: 5px;
}
div.menu-wrapper div#our-products:hover{
    cursor: pointer;
}

div.menu-wrapper div#our-products div.title-our-products,
div.menu-wrapper div#our-agency div.title-our-agency,
div.menu-wrapper div#social-media div.title-social-media,
div.menu-wrapper div#abut-us div.title-abut-us{

    overflow: hidden;
    background-color: rgb(81, 81, 219);
    box-shadow: 1px 2px 2px rgb(68, 68, 68);
    height: 33px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    transition: 1s ease-out;
}
div.menu-wrapper div#our-products div.title-our-products:hover{

    background-color: rgb(15, 17, 95);
}
div.menu-wrapper div#our-agency div.title-our-agency:hover{

    background-color: rgb(15, 17, 95);

}
div.menu-wrapper div#social-media div.title-social-media:hover{

    background-color: rgb(15, 17, 95);
}
div.menu-wrapper div#abut-us div.title-abut-us:hover{

    background-color: rgb(15, 17, 95);
}

div.menu-wrapper div#our-products div.title-our-products span#title-one,
div.menu-wrapper div#our-agency div.title-our-agency span#title-two,
div.menu-wrapper div#social-media div.title-social-media span#title-three,
div.menu-wrapper div#abut-us div.title-abut-us span#title-four{

    font-size: 15px;
    color: var(--Secondery-Color);
    padding-top: 5px;
    font-family: Sahel-Bold;
}
div.menu-wrapper div#our-products div.title-our-products span.material-icons,
div.menu-wrapper div#our-agency div.title-our-agency span.material-icons,
div.menu-wrapper div#social-media div.title-social-media span.material-icons,
div.menu-wrapper div#abut-us div.title-abut-us span.material-icons{

    font-size: 15px;
    color: var(--Secondery-Color);
    padding-top: 9px;
    font-weight: bold;
    transition: transform .3s ease-out .2s;
}
div.menu-wrapper div#our-products div.product-submenu,
div.menu-wrapper div#our-agency div.agency-submenu,
div.menu-wrapper div#social-media div.social-media-submenu,
div.menu-wrapper div#abut-us div.abut-us-submenu{

    background-color: #fff;
    /* height: 230px; */
    height: 0;
    transition: .5s ease-out;
}
div.menu-wrapper div#our-products div.product-submenu a,
div.menu-wrapper div#our-agency div.agency-submenu a,
div.menu-wrapper div#social-media div.social-media-submenu a,
div.menu-wrapper div#abut-us div.abut-us-submenu a{

    display: none;
    color: var(--WriteColor-1);
    padding: 7px 15px;
    font-size: 14px;
}
div.menu-wrapper div#our-products div.product-submenu a:hover{

    background-color: var(--Third-Color);
}
div.menu-wrapper div#our-agency div.agency-submenu a:hover{

    background-color: var(--Third-Color);
}
div.menu-wrapper div#social-media div.social-media-submenu a:hover{

    background-color: var(--Third-Color);
}
div.menu-wrapper div#abut-us div.abut-us-submenu a:hover{

    background-color: var(--Third-Color);
}

div.menu-wrapper div#abut-us div.abut-us-submenu a{
    font-size: 12px;
}
div.menu-wrapper div#social-media div.social-media-submenu a{
    font-size: 18px;
}
div.menu-wrapper div#our-agency{

    top: 6px;
    margin-right: 2%;
}
div.menu-wrapper div#our-agency:hover{
    cursor: pointer;
}
div.menu-wrapper div#social-media{

    top: 7px;
    margin-right: 2%;
}
div.menu-wrapper div#social-media:hover{

    cursor: pointer;
}
div.menu-wrapper div#abut-us{

    top: 7px;
    margin-right: 2%;
}
div.menu-wrapper div#abut-us:hover{

    cursor: pointer;
}

div.menu-wrapper div.icon-section img{

    width: 90px;
    height: 60px;
    right: 49%;
    top: -39px;
}
div.menu-wrapper div.icon-section span#login{

    font-size: 37px;
    color: var(--Secondery-Color);
    top: 14px;
    right: 19%;
}
div.menu-wrapper div.icon-section span#login:hover{

    color: var(--Third-Color);
    cursor: pointer;
}

div.menu-wrapper div.icon-section span#shopping{
    
    font-size: 35px;
    color: var(--Secondery-Color);
    top: 14px;
    right: 13%;
}
div.menu-wrapper div.icon-section span#shopping:hover{

    color: var(--Third-Color);
    cursor: pointer;
}
div.menu-wrapper div.icon-section i.fas{

    font-size: 35px;
    color: var(--Secondery-Color);
    top: 18px;
    right: 65%;
    display: none;
}
div.menu-wrapper div.icon-section i.fas:hover{

    cursor: pointer;
    color: var(--Third-Color);
}

/*.....................this classes add  with JS for show of Accordion Menu......................*/

.showCuntries{

    height: 230px !important;
}
.showItems{
 
   display: block !important;
}
.animArrow{
 
    transform: rotate(-90deg);
}

/*..............................................................................................*/


 /* .......... This codes are for responsive Menu (min-width:992px and max-width:1329px) ..... */

 .responsiveTop{

    top: -204px !important;
 }
 .responsiveTopTwo{

    top: -202px !important;
 }
 .responsiveTopThree{

    top: -183px !important;
 }
 .responsiveTopFour{

    top: -161px !important;
 }
 .responsiveHomeIconTop{

    top: -192px !important;
 }
 .responsiveHomeIconTopTwo{

    top: -170px !important;
 }
 .responsiveHomeIconTopThree{

    top: -150px !important;
 }

 @media only screen and (min-width: 992px) and (max-width: 1035px){

    div.menu-wrapper div#our-products div.product-submenu a{

        font-size: 13px;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1150px){

    div.menu-wrapper div.icon-section span#shopping{

        right: 7%;
    }
    div.menu-wrapper div.icon-section span#login{

        right: 14%;
    }
}

/* ........ This codes are for responsive Menu (min-width: 576px) and (max-width: 768px) ...... */

@media only screen and (min-width: 576px) and (max-width: 768px){

    nav#wrapperHorizontalMenu{

        overflow: hidden; 
    }

    div.menu-wrapper div.icon-section img,
    div.menu-wrapper div.icon-section span#login,
    div.menu-wrapper div.icon-section span#shopping{

        display: none;
    }

    div.menu-wrapper div#our-products,
    div.menu-wrapper div#our-agency,
    div.menu-wrapper div#social-media,
    div.menu-wrapper div#abut-us{

        display: none;
    }
    div.menu-wrapper div.icon-section i.fas{

        display: block !important;
        right: 91%;
        top: -27px;

    }

    /* ............. This classes add to elements with JS ............... */

    
    .responsiveHome{

        position: relative;
        right: 15% !important;
        top: 22px !important;
    }
    .responsiveLogo{

        display: block !important;
        position: relative;
        right: 5% !important;
        top: -380px !important;
        width: 70px !important;
        height: 50px !important;
    }
    .responsiveShopping{

        display: block !important;
        position: relative;
        right: 20% !important;
        top: -273px !important;
        width: 70px;
        height: 50px;
    }
    .responsiveLogin{

        display: block !important;
        position: relative;
        right: 28% !important;
        top: -325px !important;
        width: 70px;
        height: 50px;
    }
    .responsiveAccordionMenu{

        display: block !important;
        width: 50% !important;
        margin-top: 30px;
        position: relative;
    }
    .responsiveOurProducts{

        position: relative;
        right: 2%;
    }
    .responsiveMenu{

        height: 600px !important;
    }
    .responsiveBars{

        display: block !important;
        right: 90% !important;
        top: -420px !important;
    }

    .fixTopAgencyMenu{

        top: 18px !important;
    }
    .fixTopSocialMediaMenu{

        top: 22px !important;
    }
    .fixTopAbutUsMenu{

        top: 28px !important;
    }
    .fixTopLogoImg{

        top: -590px !important;
    }
    .fixTopHomeIcon{

        top: 38px !important;
    }
    .fixTopShopping{

        top: -485px !important;
    }
    .fixTopLogin{

        top: -534px !important;
    }
    .fixTopHorizontalBars{

        top: -630px !important;
    }

    .fixTopProductMenu{

        top: 26px !important;
    }


    .logo,
       #horizontalBars,
       #shopping,
       #login {
       transition: top 0.4s ease-in-out;
    }

          
}


/* ...... This codes are for responsive Menu (min-width: 768px) and (max-width: 992px) ..... */

@media only screen and (min-width: 768px) and (max-width: 992px){

    nav#wrapperHorizontalMenu{

        overflow: hidden; 
    }

    div.menu-wrapper div.icon-section img,
    div.menu-wrapper div.icon-section span#login,
    div.menu-wrapper div.icon-section span#shopping{

        display: none;
    }

    div.menu-wrapper div#our-products,
    div.menu-wrapper div#our-agency,
    div.menu-wrapper div#social-media,
    div.menu-wrapper div#abut-us{

        display: none;
    }
    div.menu-wrapper div.icon-section i.fas{

        display: block !important;
        right: 70%; 
        top: 15px;

    }

    /* ............. This classes add to elements with JS ............... */

    .responsiveHorizontalBarsTablet{

        /* top: 20px !important; */
        top: -117px !important;
    }
    .responsiveMenu{

        height: 600px !important;
    }
    .responsiveOurProducts{

        position: relative;
        right: 2%;
    }
    .responsiveAccordionMenuTablet{

        display: block !important;
        width: 70% !important;
        margin-top: 30px;
        position: relative;
    }
    .responsiveHomeTablet{

        position: relative;
        right: 21% !important;
        top: 24px !important;
    }
    .responsiveLogoTablet{

        display: block !important;
        position: relative;
        right: -333% !important;
        top: -78px !important;
        width: 70px !important;
        height: 50px !important;
    }
    .responsiveShoppingTablet{

        display: block !important;
        position: relative;
        right: -259% !important;
        top: 26px !important;
        width: 70px;
        height: 50px;
    }
    .responsiveLoginTablet{

        display: block !important;
        position: relative;
        right: -221% !important;
        top: -25px !important;
        width: 70px;
        height: 50px;
    }

    .fixTopProductMenu{

        top: 26px !important;
    }
    .fixTopAgencyMenu{

        top: 18px !important;
    }
    .fixTopSocialMediaMenu{

        top: 22px !important;
    }
    .fixTopAbutUsMenu{

        top: 28px !important;
    }

    .logo,
       #horizontalBars,
       #shopping,
       #login {
       transition: top 0.4s ease-in-out;
    }
}