div.modal-wrapper{

    top: -510px; 
    display: none;
    transition: 1s ease-in; 
}
div.modal{

    background-color: rgb(114, 114, 216);
    border-radius: 15px;
    width: 95%;
    height: 455px;
    
}
div.modal div.header-login{
    padding-top: 20px;
    margin-bottom: 40px;
    padding-right: 3%;
    padding-left: 3%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
div.modal div.header-login h4{

    font-size: 18px;
    font-family: Sahel-Bold;
    color: var(--Secondery-Color);
    border-bottom: 2px solid var(--Secondery-Color);
}
div.modal div.header-login span{

    font-size: 26px;
    font-weight: 600;
    color: var(--Secondery-Color);
}
div.modal div.header-login span.close-index-login:hover{

    cursor: pointer;
}
div.modal div.header-login span.close-products-login{

    cursor: pointer;
}
div.modal form.body-login label.userName,
div.modal form.body-login label.userPassword{
    display: block;
    font-size: 16px;
    color: var(--Secondery-Color);
    padding-right: 3%;
    margin-bottom: 15px;
}
div.modal form.body-login input#user,
div.modal form.body-login input#pass{

    margin-right: 2%;
    width: 33%;
    display: block;
    border: 0;
    outline: 0;
    background-color: rgb(114, 114, 216);
    border-bottom: 1px solid var(--Secondery-Color);
    padding-right: 10px;
    font-size: 14px;
    color: var(--WriteColor-1);
    font-weight: 600;
    font-family: Sahel-Bold;
}
div.modal form.body-login p.userName-message,
div.modal form.body-login p.password-message{

    margin-bottom: 33px;
    padding-top: 4px;
    padding-right: 3%;
    font-size: 11px;
    font-family: Sahel-Bold;
}
div.modal form.body-login i.fa-eye-slash,
div.modal form.body-login i.fa-eye{

    position: absolute;
    color: var(--Secondery-Color);
    font-size: 16px;
    right: 32%;
    top: 150px;
}
div.modal form.body-login i.fa-eye-slash:hover{
    cursor: pointer;
}
div.modal form.body-login i.fa-eye:hover{

    cursor: pointer;
}
div.modal form.body-login i.fa-eye{

    display: none;
}
div.modal form.body-login button{

    display: inline-block;
    color: var(--Secondery-Color);
    width: 200px;
    height: 40px;
    outline: none;
    border: 1px solid var(--Secondery-Color);
    background-color: rgb(114, 114, 216);
    margin-bottom: 40px;
    right: 40%;
    font-size: 15px;
    transition: 0.3s ease-in;
}
div.modal form.body-login button:hover{

    background-color: rgb(94, 94, 216);
}
div.modal div.footer-login{

    margin-top: 115px;
    text-align: center;
    
}
div.modal div.footer-login a.password-recovery,
div.modal div.footer-login a.register{

    color: var(--Secondery-Color);
    margin-left: 4%;
    font-size: 16px;
    border-bottom: 1px solid var(--Secondery-Color);
}
div.modal div.footer-login a.register{

    margin-right: 4%;
}
/* ................... Add animation ..................... */

.show-login-index{

    display: block !important;
} 
.show-login-products{

    display: block !important;
    top: -1650px !important;
}