div.modal-wrapper{

    top: -510px; 
    display: none;
    z-index: 999;
}
div.modal-wrapper-aside{

    top: -510px; 
    display: none;
    z-index: 999;
}
div.modal-wrapper-category-product-login{

    top: -33px; 
    display: none;
    z-index: 999;
}
div.fix-position-product{

    top: -1650px;
    display: none;
    z-index: 100;
}
div.modal{

    background-color: rgb(114, 114, 209);
    border-radius: 15px;
    width: 95%;
    height: 455px;
}
div.modal div.header-login{
    padding-top: 20px;
    margin-bottom: 40px;
    padding-right: 3%;
    padding-left: 3%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
div.modal div.header-login h4{

    font-size: 18px;
    font-family: Sahel-Bold;
    color: var(--Secondery-Color);
    border-bottom: 2px solid var(--Secondery-Color);
}
div.modal div.header-login span{

    font-size: 26px;
    font-weight: 600;
    color: var(--Secondery-Color);
}
div.modal div.header-login span.close-index-login:hover{

    cursor: pointer;
}
div.modal div.header-login span.close-index-aside{

    cursor: pointer;
}
div.modal div.header-login span.close-index-login-aside:hover{

    cursor: pointer;
}
div.modal div.header-login span.close-category-product-login:hover{

    cursor: pointer;
}
div.modal div.header-login span.close-products-login:hover{

    cursor: pointer;
}
div.modal form.body-login label.userName,
div.modal form.body-login label.userPassword{
    display: block;
    font-size: 16px;
    color: var(--Secondery-Color);
    padding-right: 3%;
    margin-bottom: 15px;
}
div.modal form.body-login input#user,
div.modal form.body-login input#pass{

    margin-right: 2%;
    width: 45%;
    display: block;
    border: 0;
    outline: 0;
    background-color: rgb(114, 114, 216);
    border-bottom: 1px solid var(--Secondery-Color);
    padding-right: 10px;
    font-size: 14px;
    color: var(--WriteColor-1);
    font-weight: 600;
    font-family: Sahel-Bold;
}
div.modal form.body-login p.userName-message,
div.modal form.body-login p.password-message{

    margin-bottom: 33px;
    padding-top: 4px;
    padding-right: 3%;
    font-size: 11px;
    font-family: Sahel-Bold;
}
div.modal form.body-login i.fa-eye-slash,
div.modal form.body-login i.fa-eye{

    position: absolute;
    color: var(--Secondery-Color);
    font-size: 16px;
    right: 32%;
    top: 150px;
}
div.modal form.body-login i.fa-eye-slash:hover{
    cursor: pointer;
}
div.modal form.body-login i.fa-eye:hover{

    cursor: pointer;
}
div.modal form.body-login button{

    display: inline-block;
    color: var(--Secondery-Color);
    width: 200px;
    height: 40px;
    outline: none;
    border: 1px solid var(--Secondery-Color);
    background-color: rgb(114, 114, 216);
    margin-bottom: 40px;
    right: 40%;
    font-size: 15px;
    transition: 0.3s ease-in;
}
div.modal form.body-login button:hover{

    background-color: rgb(94, 94, 216);
}
div.modal div.footer-login{

    margin-top: 95px;
    text-align: center;
    
}
div.modal div.footer-login a.password-recovery,
div.modal div.footer-login a.register{

    color: var(--Secondery-Color);
    margin-left: 4%;
    font-size: 16px;
    border-bottom: 1px solid var(--Secondery-Color);
}
div.modal div.footer-login a.register{

    margin-right: 4%;
}
/* ................... Add animation ..................... */

.show-login-index{

    display: block !important;
}
.show-login-aside{

    display: block !important;
}
.show-login-products{

    display: block !important;
    
}
.show-category-product-login{

    display: block !important;
}

/* ............ These codes are for responsive ............ */

@media only screen and (min-width: 360px) and (max-width: 460px){

    div.fix-position-login-index{

        top: -1150px;
        right: 0%;
        z-index: 1000;
    }
    div.fix-position-product{

        top: -3000px;
        right: 0%;
        z-index: 1000;
    }
    div.fix-position-category-product-login{

        top: -530px;
    }
    div.header-login h4{

        display: none;
    }
    div.header-login span{

        padding-right: 87%;
    }
    label.userName{
        
        position: relative;
        top: -35px;
        right: 2%;
    }
    input#user{

        position: relative;
        top: -30px;
        right: 3%;
        width: 75% !important;
    }
    p.userName-message{

        margin-top: -20px;
    }
    label.userPassword{

        position: relative;
        top: -15px;
        right: 2%;
    }
    input#pass{

        position: relative;
        top: -20px;
        right: 3%;
        width: 75% !important;
    }
    p.password-message{

        margin-top: -40px;
    }
    button.login-btn{

        width: 120px !important;
        height: 30px !important;
        right: 28% !important;
    }
    div.footer-login{

        margin-top: 90px !important;
    }
}

@media only screen and (min-width: 460px) and (max-width: 576px){

    div.fix-position-login-index{

        top: -1120px;
        right: 0%;
        z-index: 1000;
    }
    div.fix-position-product{

        top: -2720px;
        right: 0%;
        z-index: 1000;
    }
    div.fix-position-category-product-login{

        top: -530px;
    }
    div.header-login h4{

        display: none;
    }
    div.header-login span{

        padding-right: 92%;
    }
    label.userName{
        
        position: relative;
        top: -35px;
        right: 2%;
    }
    input#user{

        position: relative;
        top: -30px;
        right: 3%;
        width: 75% !important;
    }
    p.userName-message{

        margin-top: -23px;
    }
    label.userPassword{

        position: relative;
        top: -15px;
        right: 2%;
    }
    input#pass{

        position: relative;
        top: -20px;
        right: 3%;
        width: 75% !important;
    }
    p.password-message{

        margin-top: -42px;
    }
    button.login-btn{

        width: 120px !important;
        height: 30px !important;
        right: 32% !important;
    }
    div.footer-login{

        margin-top: 100px !important;
    }
}
@media only screen and (min-width: 576px) and (max-width: 768px){

    div.fix-position-login-index{

        top: -1120px;
        right: 0%;
        z-index: 1000;
    }
    div.fix-position-product{

        top: -2720px;
        right: 0%;
        z-index: 1000;
    }
    div.fix-position-category-product-login{

        top: -530px;
    }
    div.header-login h4{

        display: none;
    }
    div.header-login span{

        padding-right: 92%;
    }
    label.userName{
        
        position: relative;
        top: -35px;
        right: 2%;
    }
    input#user{

        position: relative;
        top: -30px;
        right: 3%;
        width: 75% !important;
    }
    p.userName-message{

        margin-top: -23px;
    }
    label.userPassword{

        position: relative;
        top: -15px;
        right: 2%;
    }
    input#pass{

        position: relative;
        top: -20px;
        right: 3%;
        width: 75% !important;
    }
    p.password-message{

        margin-top: -40px;
    }
    button.login-btn{

        width: 120px !important;
        height: 30px !important;
        right: 35% !important;
    }
    div.footer-login{

        margin-top: 100px !important;
    }
}
@media only screen and (min-width: 768px) and (max-width: 992px){

    div.fix-position-login-index{

        top: -1112px;
        right: 0%;
        z-index: 1000;
    }
    div.fix-position-product{

        top: -2050px;
        right: 0%;
        z-index: 1000;
    }
    div.fix-position-category-product-login{

        top: -522px;
    }
    div.header-login h4{

        display: none;
    }
    div.header-login span{

        padding-right: 92%;
    }
    label.userName{
        
        position: relative;
        top: -35px;
        right: 2%;
    }
    input#user{

        position: relative;
        top: -30px;
        right: 3%;
        width: 75% !important;
    }
    p.userName-message{

        margin-top: -23px;
        padding-right: 5% !important; 
    }
    label.userPassword{

        position: relative;
        top: -15px;
        right: 2%;
    }
    input#pass{

        position: relative;
        top: -20px;
        right: 3%;
        width: 75% !important;
    }
    p.password-message{

        margin-top: -45px;
        padding-right: 5% !important;
    }
    button.login-btn{

        width: 170px !important;
        height: 40px !important;
        right: 35% !important;
    }
    div.footer-login{

        margin-top: 120px !important;
    }
}
@media only screen and (min-width: 992px) and (max-width: 1200px){

    div.fix-position-product{

        top: -1552px;
        z-index: 1000;
    }
    
    div.modal{

        height: 465px;
    }

    input#user{

        width: 65% !important;
    }
    input#pass{

        width: 65% !important;
    }
    button.login-btn{

        height: 35px !important;
        right: 32% !important;
    }
    p.password-message{

        margin-top: -25px
    }
    div.footer-login{

        margin-top: 100px !important;
    }
}
@media only screen and (min-width: 1200px){

    p.password-message{

        margin-top: -25px
    }
}