/*  These codes are for menu */

nav#wrapper-Menu-recovery-password{

    background-color: var(--Primary-Color);
    height: 70px;
}
nav#wrapper-Menu-recovery-password div.home-icon-wrapper-recovery-password a{

    padding-right: 7%;
    top: 13px;
}
nav#wrapper-Menu-recovery-password div.home-icon-wrapper-recovery-password a span.material-icons{

    font-size: 45px;
    color: var(--Secondery-Color);
    transition: .5s ease-in;
}
nav#wrapper-Menu-recovery-password div.home-icon-wrapper-recovery-password a:hover span.material-icons{

    color: var(--Third-Color);
}

/* These codes are for recovery password section */

div.caption-wrapper p{

    text-align: center;
    color: rgb(170, 11, 11);
    font-size: 14px;
    font-family: "Sahel-Bold";
}

div.container-recovery-password{

    display: flex;
    justify-content: space-between;
    max-width: 750px;
    margin: 60px auto 25px auto;
    border: 1px solid #efefef;
    border-radius: 5px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 1);
    background-color: #fdf6f6;
    padding: 20px;
}
div.container-recovery-password div.right-side{

    display: flex;
    flex-basis: 50%;
    max-width: 50%;
    position: relative;
}
div.container-recovery-password div.left-side{

    display: flex;
    flex-basis: 50%;
    max-width: 50%;
}
div.container-recovery-password div.right-side form{

    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: -55px;
    width: 100%;
}
div.container-recovery-password div.right-side form div.input-group label{

    font-size: 14px;
}
div.container-recovery-password div.right-side form div.input-group input{

    width: 100%;
    height: 40px;
    border-radius: 4px;
    border: 1px solid #c7c7c7;
    background-color: #fdf6f6;
    outline: 0;
    margin: 12px 0 16px 0;
    padding: 2px;
    border-width: 0 0 1px 0;
}
div.container-recovery-password div.right-side form div.input-group span::after{

    content: '';
    position: absolute;
    bottom: 15px;
    right: 0;
    background-color: #1FA2FF;
    width: 0;
    height: 2px;
    transition: width .2s linear;
}
div.container-recovery-password div.right-side form div.input-group input:focus ~ span::after{

    width: 100%;
}
div.container-recovery-password div.right-side form button{

    width: 100%;
    height: 40px;
    margin-top: 24px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    font-family: Sahel-Bold;
    font-size: 15px;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
    outline: none;
    border: none;
    background-image: linear-gradient(to right, #1FA2FF 0%, #12D8FA 51%, #1FA2FF 100%);
}
div.container-recovery-password div.right-side form button:hover{

    background-position: right center;
    color: #fff;
    text-decoration: none;
}

@media only screen and (min-width: 360px) and (max-width: 460px){

    div.container-recovery-password{

        height: 350px;
    }
    div.container-recovery-password div.left-side{

        display: none;
        flex-basis: content;
    }
    div.container-recovery-password div.right-side{

        max-width: 100%;
        flex-basis: content;
    }
    div.container-recovery-password div.right-side form button{

        position: relative;
        right: 15%;
    }
}
@media only screen and (min-width: 460px) and (max-width: 576px){

    div.caption-wrapper p{

        font-size: 13px;
    }
    div.container-recovery-password{

        height: 370px;
    }
}
@media only screen and (min-width: 576px) and (max-width: 768px){

    div.container-recovery-password{

        height: 330px;
    }
}
@media only screen and (min-width: 768px) and (max-width: 992px){

    div.caption-wrapper p{

        font-size: 13px;
    }
    div.container-recovery-password{

        margin-top: 30px;
    }
}