@import '_menu&header.css';



body{
    background-color: rgb(216, 207, 207);
}

:root{
    --Primary-Color: rgb(94, 94, 216);
    --Secondery-Color: #fff;
    --Third-Color: Orange;
    --WriteColor-1: rgb(34, 33, 33);
    --WriteColor-2: black;
}
  

@font-face {
    font-family: "Sahel-Bold";
    src: url("/Assets/fonts/Sahel-Bold-FD.eot") format("eot"), 
    url("/Assets/fonts/Sahel-Bold-FD.ttf") format("ttf"), 
    url("/Assets/fonts/Sahel-Bold-FD.woff") format("woff");
    font-weight: 750;
    font-style: bold;
}
@font-face {
    font-family: "Sahel-Black";
    src: url("/Assets/fonts/Sahel-Black-FD.eot") format("eot"), 
    url("/Assets/fonts/Sahel-Black-FD.ttf") format("ttf"), 
    url("/Assets/fonts/Sahel-Black-FD.woff") format("woff");
    font-weight: 750;
    font-style: bold; 
}
@font-face {
    font-family: "Sahel-Medium";
    src: url("/Assets/fonts/Sahel-FD.eot") format("eot"), 
    url("/Assets/fonts/Sahel-FD.ttf") format("ttf"), 
    url("/Assets/fonts/Sahel-FD.woff") format("woff");
    font-weight: 600;
    font-style: "normal";
}